.card-header {
  background-color: #2a2831;
  box-shadow: 0 3px 8px rgba(172, 170, 170, 0.43);
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: none;
  color:#fff;
  padding: 12px 8px 12px 8px;
  border-radius: 2px;
  
  .content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    nz-typography{
      color:#fff;
    }
    .breadcrumb-text {
      font-weight: bold;
      color:#fff;
    }
    button {
      border-radius: 8px;
      margin-left: 8px;
    }
  }

}

.card-content {
  background-color: #2A2831;
  box-shadow: 0 3px 8px rgba(172, 170, 170, 0.43);
  border: 1px solid #ddd;
  color:#fff;
  padding: 12px 8px 12px 8px;
  border-radius: 2px;

  nz-typography{
    color:#fff;
  }
  .ant-tabs-tab-btn {
    text-wrap: wrap;
  }
}

.content-list-button {
  display: flex;
  gap: 2px;
  margin-bottom: 4px;
}

nz-card {
  border: transparent;
}

.custom-button.selected {
  background-color: #1890ff;
  color: #fff;
}

::ng-deep .ant-btn-lg {
  padding: 8px;
}