<div>
  <nz-card [nzBodyStyle]="{'padding': '0'}">
    <!-- <div class="card-header">
      <div class="content-header">
        <nz-typography>
          Crear Incidencias Muebles
        </nz-typography>        
      </div>
    </div> -->
    <div class="card-content">
      <div class="container-tabs-exhibits">
        <div class="content-list-button">
          <button nz-button nzType="primary" nzGhost [nzSize]="size" nzBlock class="custom-button" *ngIf="showRol.asignacion"
            [class.selected]="selectedOption === 'asignacion'" (click)="selectOptionAndNavigate('asignacion')">
            Asignación
          </button>
          <button nz-button nzType="primary" nzGhost [nzSize]="size" nzBlock class="custom-button" *ngIf="showRol.recojo"
            [class.selected]="selectedOption === 'recojo'" (click)="selectOptionAndNavigate('recojo')">
            Recojo
          </button>
          <button nz-button nzType="primary" nzGhost [nzSize]="size" nzBlock class="custom-button" *ngIf="showRol.mantenimiento"
            [class.selected]="selectedOption === 'mantenimiento'" (click)="selectOptionAndNavigate('mantenimiento')">
            Mantenimiento
          </button>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </nz-card>
</div>
