.container-reports {
    padding: 16px;
    background-color: #29292F;
}
.container-content {
    background-color: #FFFFFF;
    padding: 12px;
    .content-header {
        display: flex;
        justify-content: flex-end;
        gap: 2px;
        margin-bottom: 4px;
        .button-excel {
            text-align: right;
            .icon-excel {
                color: green;
                font-size: 32px;
                margin-right: -4px;
            }
        }
    }
}