<nz-content class="page-content">
  <div class="container-apps">
    <!-- <nz-tabset nzCentered class="custom-font" [nzSelectedIndex]="2">
            <nz-tab nzTitle="POST"><span class="margin-left-5">POST</span></nz-tab>
            <nz-tab nzTitle="FILES"><span class="margin-left-5">FILES</span></nz-tab>
            <nz-tab nzTitle="APPS"> -->
    <div (click)="handleChangeStore('Backus')" class="content-app-backus">
      <nz-typography>
        <img nzDisablePreview nz-image nzSrc="../../../assets/img/logo_bk.webp" alt="" />
        <span class="description">APP - BACKUS</span>
      </nz-typography>
    </div>
    <div (click)="handleChangeStore('Pernod')" class="content-app-pernod">
      <nz-typography>
        <img nzDisablePreview nz-image nzSrc="../../../assets/img/logo_pernop.webp" alt="" />
        <span class="description">APP - PERNOD</span>
      </nz-typography>
    </div>
    <!-- </nz-tab>
        </nz-tabset> hola-->
  </div>
</nz-content>
