<nz-content >
  <div>
    <nz-card [nzBodyStyle]="{'padding': '0'}">
      <div class="card-header">
        <nz-typography>
          <strong nzType="secondary" class="breadcrumb-text">MÓDULOS</strong>
        </nz-typography>
      </div>
      <div class="card-content">
        <div class="card-list-item">
          <div>
            <button nz-button nzType="primary" nzGhost [nzSize]="size" nzShape="round" nzBlock
              (click)="navigateToMenuPrecio()" style="margin: 0;">
              Precio
            </button>
          </div>
          <div>
            <button nz-button nzType="primary" nzGhost [nzSize]="size" nzShape="round" nzBlock
              (click)="navigateToMenuExhibiciones()" style="margin: 0;">
              Exhibiciones
            </button>
          </div>
          <div>
            <button nz-button nzType="primary" nzGhost [nzSize]="size" nzShape="round" nzBlock
              (click)="navigateToFrentes()" style="margin: 0;">
              Frentes
            </button>
          </div>
          <div>
            <button nz-button nzType="primary" nzGhost [nzSize]="size" nzShape="round" nzBlock
              (click)="navigateToMenuIncidencias()" style="margin: 0;">
              Incidencias
            </button>
          </div>
          <div>
            <button nz-button nzType="primary" nzGhost [nzSize]="size" nzShape="round" nzBlock class="custom-button"
              (click)="navigateToStock()" style="margin: 0;">
              Stock
            </button>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</nz-content>
