// Contenido principal
.exhibition-table {
  th, td {
    text-wrap: nowrap;
  }
}

.page-content {
  background-color: #292930;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

::ng-deep .ant-tabs-tab {
    color:#ffffff !important;
}

.description {
  color: #ddd;
  margin-left: 8px;
  font-weight: bold;
}

.container-apps {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  .header-container {
    background-color: #fff;
    padding: 12px;
    border: 1px solid #d9d9d9;
    border-bottom: none;
    h4 {
        margin: 0;
    }
  }
  .content-app-backus {
    border: 1px solid darkgrey;
    margin-bottom: 8px;
    cursor: pointer;
    img {
      background-color: #FFFFFF;
      padding: 0px;
      object-fit: contain;
      height: 45px;
      width: 90px;
    }
  }
  .content-app-pernod {
    border: 1px solid darkgrey;
    cursor: pointer;
    img {
      background-color: #FFFFFF;
      padding: 2px;
      object-fit: contain;
      height: 45px;
      width: 90px;
    }
  }
  .collapse-custom-header {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    // padding: 8px 16px 8px 12px;
    .collapse-header-content {
      display: flex;
      align-items: center;
      img {
        margin-right: 8px;
      }
    }
  }
}
::ng-deep .ant-popover-title {
  min-width: auto;
  min-height: auto;
  text-align: right;
  // display: none;
}
::ng-deep .ant-modal-body {
  padding: 0px;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
}
.button-excel {
  text-align: right;
  .icon-excel {
      color: green;
      font-size: 25px;
      cursor: pointer;
  }
}
::ng-deep .ant-modal-footer {
  padding: 10px 16px;
  text-align: center;
  background: transparent;
  border-top: 1px solid #f0f0f0;
  border-radius: 0 0 2px 2px;
}
::ng-deep .ant-avatar.ant-avatar-icon {
  cursor: pointer;
}

.content-description {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  .modal-item {
    display: flex;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
  .modal-item {
    display: flex;
    justify-content: space-between;
  }
}

.modal-buttons { 
  display: flex;
  justify-content: center;
  gap: 2px;
  padding: 8px 0 8px 0;
}
// .image-container {
//   width: 100%;
//   margin: 0 auto;
//   overflow: hidden; /* Esto asegura que la imagen no se salga del contenedor */
//   position: relative;
//   height: 0;
//   // padding-bottom: 100%; /* Mantiene la relación de aspecto cuadrada */
//   padding-bottom: 75%;
//   img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: contain;
//     transition: transform 0.5s ease;
//     transform-origin: center center
//   }
// }

[nz-carousel-content] {
  text-align: center;
  height: 400px;
  line-height: 400px;
  width: auto;
  // background: #364d79;
  background-color: #F2F2F2;
  color: #fff;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

::ng-deep .ant-carousel .slick-slider {
  margin-left: 22px;
}

::ng-deep .ant-carousel .slick-dots li button {
  background-color: grey;
}

::ng-deep .ant-carousel .slick-dots li.slick-active button {
  background-color: #000;
}

::ng-deep .ant-carousel .slick-dots {
  position: relative;
  padding-top: 20px;
}