<div>
  <nz-card [nzBodyStyle]="{ padding: '0' }">
    <div class="card-header">
      <nz-typography>
        Encuesta -
        <strong nzType="secondary" class="breadcrumb-text">EXHIBICIONES</strong>
      </nz-typography>
    </div>
    <div class="card-content">
      <div class="container-tabs-exhibits">
        <div class="content-list-segmented">
          <nz-segmented
            [nzOptions]="options"
            (nzValueChange)="handleIndexChange($event)"
          >
          </nz-segmented>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </nz-card>
</div>
