<div>
  <nz-card [nzBodyStyle]="{'padding': '0'}">
    <!-- <div class="card-header">
      <nz-typography>
        Listado de Muebles
      </nz-typography>
    </div> -->
    <div class="card-content">
      <nz-tabset nzType="card" [(nzSelectedIndex)]="selectedIndex">
        <nz-tab [nzTitle]="listAsignacion" *ngIf="showRol.asignacion">
          <div>
            <ng-container *ngIf="isOnline">
              <div *ngFor="let header of listAsignacionesHeader">
                <nz-collapse>
                  <nz-collapse-panel [nzHeader]="collpaseHeaderAsignacion" nzExpandedIcon="double-right">
                    <div>
                      <nz-list>
                        <nz-list-item *ngFor="let item of header.listAsignacionesOptions">
                          <span style="font-weight: 700;">{{ item.typeOption }}</span>
                          <div>
                            <label style="width: 110px;">{{item.value}}</label>
                          </div>
                        </nz-list-item>
                      </nz-list>
                    </div>
                  </nz-collapse-panel>
                </nz-collapse>
                <ng-template #collpaseHeaderAsignacion>
                  <div class="collapse-custom-header">
                    <div class="collapse-header-content">
                      <span class="header-text">{{ header.nombre }}</span>
                    </div>
                  </div>
                </ng-template>
              </div>
            </ng-container>
            <ng-container *ngIf="!isOnline">
              <p style="margin: 0; color: red;">Para offline no esta disponible esta información</p>
            </ng-container>
          </div>
        </nz-tab>
        <nz-tab [nzTitle]="listRecojo" *ngIf="showRol.recojo">
          <div>
            <ng-container *ngIf="isOnline">
              <div *ngFor="let header of listRecojosHeader">
                <nz-collapse>
                  <nz-collapse-panel [nzHeader]="collapseHeaderRecojo" nzExpandedIcon="double-right">
                    <div *ngFor="let item of header.listRecojoOptions">
                      @if(item.code == 'imagenes') {
                        <p style="margin-bottom: 8px;"><strong>Imagenes:</strong></p>
                        <div *ngFor="let img of item.value" style="margin-bottom: 8px;">
                          <img [src]="img.url ? img.url : img.imagen_url" alt="icon" class="imagen"/>
                        </div>
                       } @else {
                        <div style="display: flex; justify-content: space-between; margin-bottom: 8px;">
                          <strong>{{ item.typeOption }}</strong>
                          <span>{{ item.value }}</span>
                        </div>
                       }
                    </div>
                  </nz-collapse-panel>
                </nz-collapse>
                <ng-template #collapseHeaderRecojo>
                  <div class="collapse-custom-header">
                    <div class="collapse-header-content">
                      <span class="header-text">{{ header.nombre }}</span>
                    </div>
                  </div>
                </ng-template>
              </div>
            </ng-container>
            <ng-container *ngIf="!isOnline">
              <p style="margin: 0; color: red;">Para offline no esta disponible esta información</p>
            </ng-container>
          </div>
        </nz-tab>
        <nz-tab [nzTitle]="listMantenimiento" *ngIf="showRol.mantenimiento">
          <div>
            <ng-container *ngIf="isOnline">
              <div *ngFor="let header of listMantenimientoHeader">
                <nz-collapse>
                  <nz-collapse-panel [nzHeader]="collapseHeaderMantenimiento" nzExpandedIcon="double-right">
                    <div *ngFor="let item of header.listMantenimientoOptions">
                      @if(item.code == 'imagenes') {
                        <p style="margin-bottom: 8px;"><strong>Imagenes:</strong></p>
                        <div *ngFor="let img of item.value" style="margin-bottom: 8px;">
                          <img [src]="img.url ? img.url : img.imagen_url" alt="icon" class="imagen"/>
                        </div>
                       } @else {
                        <div style="display: flex; justify-content: space-between; margin-bottom: 8px;">
                          <strong>{{ item.typeOption }}</strong>
                          <span>{{ item.value }}</span>
                        </div>
                       }
                    </div>
                  </nz-collapse-panel>
                </nz-collapse>
                <ng-template #collapseHeaderMantenimiento>
                  <div class="collapse-custom-header">
                    <div class="collapse-header-content">
                      <span class="header-text">{{ header.nombre }}</span>
                    </div>
                  </div>
                </ng-template>
              </div>
            </ng-container>
            <ng-container *ngIf="!isOnline">
              <p style="margin: 0; color: red;">Para offline no esta disponible esta información</p>
            </ng-container>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
    <ng-template #listAsignacion>
      <span (click)="listAsignaciones()">Asignación</span>
    </ng-template>
    <ng-template #listRecojo>
      <span (click)="listRecojos()">Recojo</span>
    </ng-template>
    <ng-template #listMantenimiento>
      <span (click)="listMatenimientos()">Mantenimiento</span>
    </ng-template>
    <div class="container-footer">
      <button nz-button nzType="primary" (click)="navigateToMueblesNuevo()">Nuevo</button>
    </div>
  </nz-card>
</div>

<app-spinner-loading [loading]="loading"></app-spinner-loading>