::ng-deep .ant-tabs > .ant-tabs-nav .ant-tabs-nav-more {
  display: none;
}
::ng-deep .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: #1890ff;
}
::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ddd;
}

::ng-deep .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  background-color: transparent;
  color: #1890ff;
}

::ng-deep .container-tabs-exhibits
  > .ant-tabs-card.ant-tabs-small
  > .ant-tabs-nav
  .ant-tabs-tab {
  padding: 6px 1px;
}
::ng-deep .content-option-competencia {
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
    flex-direction: column;
    gap: 2px;
    width: 100%;
  }
  .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
    margin-left: 0;
  }
}
::ng-deep .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
  display: flex;
  justify-content: center;
}

::ng-deep .ant-checkbox-wrapper{
color: white;
}

::ng-deep .ant-select-selection-item{
  white-space: normal;
}

.card-header {
  background-color: #2a2831;
  box-shadow: 0 3px 8px rgba(172, 170, 170, 0.43);
  // border-top: 1px solid #ddd;
  // border-left: 1px solid #ddd;
  // border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color:#fff;
  padding: 12px 8px 12px 8px;
  border-radius: 2px;

  nz-typography{
    color:#fff;
  }
  .breadcrumb-text {
    font-weight: bold;
    color:#fff;
  }
}

.card-content {
  background-color: #2A2831;
  box-shadow: 0 3px 8px rgba(172, 170, 170, 0.43);
  color:#fff;
  padding: 12px 8px 14px 8px;

  nz-typography{
    color:#fff;
  }
  .ant-tabs-tab-btn {
    text-wrap: wrap;
  }
}
.container-footer {
  display: flex;
  justify-content: flex-end;
  background-color: #e6f6ff;
  padding: 8px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.imagen {
  height: 350px;
  width: 100%;
}

::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: rgba(255, 255, 255, 0.85);
  background: rgba(0, 0, 0, 0.85)
}

::ng-deep .ant-tabs-top > .ant-tabs-nav {
  margin: 0;
}
::ng-deep .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
  width: 100%;
  justify-content: space-around;
}
::ng-deep .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
  flex: 1;
}

::ng-deep .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  padding: 6px 8px 6px 8px;
}
::ng-deep .ant-tabs-tab-btn {
  font-size: 16px;
}
::ng-deep .ant-tabs-top > .ant-tabs-nav {
  margin-bottom: 4px;
}