::ng-deep .ant-tabs > .ant-tabs-nav .ant-tabs-nav-more {
  display: none;
}
::ng-deep .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: #1890ff;
}
::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ddd;
}

::ng-deep .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  background-color: transparent;
  color: #1890ff;
  width: calc(100vw - (50vw + 26px));
}

::ng-deep .container-tabs-exhibits
  > .ant-tabs-card.ant-tabs-small
  > .ant-tabs-nav
  .ant-tabs-tab {
  padding: 6px 1px;
}
::ng-deep .content-option-contraprestadas {
  .ant-tabs-card.ant-tabs-top > .ant-tabs-nav {
    .ant-tabs-nav-list {
      .ant-tabs-tab {
        &:first-of-type.ant-tabs-tab-active {
          background-color: red !important;
        }
        &:last-of-type.ant-tabs-tab-active {
          background-color: #1890ff !important;
        }
      }
    }
  }
}
// .container-collapse {
//   overflow-x: auto;
//   max-height: calc(100vh - 400px);
// }

.collapse-custom-header {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // padding: 8px 16px 8px 12px;
  .collapse-header-content {
    display: flex;
    align-items: center;
    img {
      margin-right: 8px;
    }
  }
}

.content-modal {
  // padding: 12px 8px 14px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content-check {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

::ng-deep .ant-select {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
   display: block;
  cursor: pointer;
}

::ng-deep .ant-modal-content {
  position: relative;
  // background-color: rgba(0, 0, 0, 0.85);
  background-clip: padding-box;
  border: 0;
  border-radius: 2px;
  // color:white;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
}

::ng-deep .ant-modal-body {
  padding: 12px 8px 14px 8px;
  // background-color: #2A2831;
}
// ::ng-deep .ant-modal-confirm-body .ant-modal-confirm-title {
//   color: #fff;
// }
// ::ng-deep .ant-modal-confirm-body .ant-modal-confirm-content {
//   color: #fff;
// }
::ng-deep .ant-modal-confirm .ant-modal-body {
  background-color: #fff;
}