<div class="content-option-contraprestadas container-collapse">
  <nz-tabset nzType="card" [nzSelectedIndex]="selectIndex">
    <nz-tab nzTitle="Alertas" (nzSelect)="selectTypeSearch('alertas')" >
      <div nz-col nzSpan="auto" class="container-collapse">
        <div *ngFor="let header of listExhibitionsHeader;let indice=index">
          <nz-collapse>
            <nz-collapse-panel [nzHeader]="alertasTemplate" nzExpandedIcon="double-right">
              <div nz-form-item class="rounded-box black-background">
                <nz-list>
                  <nz-list-item *ngFor="let item of header.listExhibitionsOptions">
                    {{ item.typeOption }}
                    <div *ngIf="isFechaItem(item.code)"><label style="width: 110px;">{{item.value | date:'yyyy-MM-dd':'UTC'}}</label></div>
                    <div *ngIf="!isFechaItem(item.code)"><label style="width: 110px;">{{item.value }}</label></div>
                  </nz-list-item>
                </nz-list>
              </div>
            </nz-collapse-panel>
          </nz-collapse>
          <ng-template #alertasTemplate>
            <div class="collapse-custom-header">
              <div class="collapse-header-content">
                <!-- <span class="header-text">{{ header.correlativo }}) {{ header.tipo_exhibicion }}</span> -->
                <span class="header-text">{{ indice + 1 }}) {{ header.tipo_exhibicion }} - {{ header.producto }}</span>
              </div>
              <button nz-button nzType="primary" nzGhost (click)="showModal(header,$event,'confirmar')" >Confirmar</button>
            </div>
          </ng-template>

        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Vigentes" (nzSelect)="selectTypeSearch('vigentes')" 	>
      <div nz-col nzSpan="auto" class="container-collapse">
        <div *ngFor="let header of listExhibitionsHeader;let indice=index">
          <nz-collapse>
            <nz-collapse-panel [nzHeader]="extraTpl" nzExpandedIcon="double-right">
              <div nz-form-item>
                <div *ngFor="let item of header?.listExhibitionsOptions">
                  @if(item.code =='validaciones') {
                    <!-- <p style="margin-bottom: 8px;"><strong>Imagenes:</strong></p> -->
                    <div style="margin-bottom: 12px;"><strong>{{ item.typeOption }}</strong></div>
                    <div *ngFor="let validacion of item.value" style="margin-bottom: 4px;">
                      <div style="display: flex; justify-content: space-between;">
                        <strong>Comentario:</strong>
                        <p>{{validacion.comentario }}</p>
                      </div>
                      <div  style="display: flex; justify-content: space-between;">
                        <strong>Comentarios Adicionales:</strong>
                        <p>{{validacion.comentarios_adicionales }}</p>
                      </div>
                      <div  style="display: flex; justify-content: space-between;">
                        <strong>Fecha Creación:</strong>
                        <p>{{validacion.fecha_creacion | date:'yyyy-MM-dd hh:mm a':'UTC'}}</p>
                      </div>
                      <div *ngFor="let img of validacion.imagenes">
                        <!-- @if(validacion.offline == 0){ -->
                          <!-- <img src="{{img.url}}" alt="icon" class="header-icon" style="height: 350px; width: 100%;"/> -->
                        <!-- }@else { -->
                        <img [attr.src]="img?.url ? img.url : img" alt="icon" class="header-icon" style="height: 350px; width: 100%;">
                        <!-- <img [attr.src]="img" alt="icon" class="header-icon" style="height: 350px; width: 100%;"> -->
                        <!-- } -->
                      </div>
                    </div>
                   } @else {
                    <div *ngIf="isFechaItem(item.code)">
                      <div style="display: flex; justify-content: space-between; margin-bottom: 4px;">
                        <div>{{ item.typeOption }}</div>
                        <p>{{item.value | date:'yyyy-MM-dd':'UTC'}}</p>
                      </div>
                    </div>
                    <div *ngIf="!isFechaItem(item.code)">
                      <div style="display: flex; justify-content: space-between; margin-bottom: 4px;">
                        <div>{{ item.typeOption }}</div>
                        <p>{{item.value}}</p>
                      </div>
                    </div>
                   }
                </div>
              </div>
            </nz-collapse-panel>

          </nz-collapse>
          <ng-template #extraTpl>
            <div class="collapse-custom-header">
              <div class="collapse-header-content">
                <!-- <span class="header-text">{{ header.correlativo }}) {{ header.tipo_exhibicion }}</span> -->
                <span class="header-text">{{ indice +1 }}) {{ header.tipo_exhibicion }} - {{ header.producto }}</span>
              </div>
              <button nz-button nzType="primary" nzGhost (click)="showModal(header, $event,'revalidar')">Revalidar</button>
            </div>
          </ng-template>

        </div>
      </div>
    </nz-tab>
  </nz-tabset>
  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="titleModal" (nzOnCancel)="handleCancel()" (nzOnOk)="confirmAlert()" [nzOkDisabled]="isOkDisabledModal">
    <ng-container *nzModalContent>
      <div>
        <div class="content-modal">
          <div *ngIf="selectPoc?.tipo === 'SMK'" class="content-check">
            <label>Mueble</label>
            <label nz-checkbox [(ngModel)]="objectConfirm.tipo_mueble">Tiene Mueble?</label>
          </div>
          <div class="content-input">
            <div nz-form-item class="rounded-box black-background">
              <div>Comentario</div>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccione el Comentario" [(ngModel)]="objectConfirm.comentario" class="custom-nz-select">
                  <nz-option *ngFor="let option of dataComentarios" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                </nz-select>
            </div>
          </div>
          <div class="content-input">
            <label>Comentarios Adicionales (opcional) </label>
            <textarea rows="2" nz-input  [(ngModel)]="objectConfirm.comentarios_adicionales"></textarea>
          </div>
          <div>
            <app-photo-upload
              [table]="table"
              [nameContainer]="nameContainer"
              [maxImages]="5"
              [codeParent]="codeParent"
              [maxWidth]="'calc(100vw - 135px)'"
              (filesChanged)="onFilesChanged($event)">
            </app-photo-upload>
          </div>
        </div>
      </div>
    </ng-container>
  </nz-modal>
</div>

<app-spinner-loading [loading]="loading"></app-spinner-loading>
