.container {
  background-color: #102044;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  color: white;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  .content-login {
    max-width: 470px;
    .heading {
      font-size: 30px;
      font-weight: bold;
      margin-top: 100px;
      text-align: center;
      color: white;
    }
    .para {
      font-size: 18px;
      font-weight: 500;
      color: #a3a7aa;
      text-align: center;
      margin-bottom: 0px;
    }
    .ion-item {
      margin-top: 12px;
    }
    .content-button {
      margin-top: 12px;
    }
  }
}





.ion-item {
  margin-top: 20px;
  width: 100%;
}

input[nz-input] {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid #e2e2e2;
  background-color: #333;
  color: white;
}

.boton-style {
  border-radius: 12px;
  background-color: #1a73e8;
  color: white;
  border: none;
  cursor: pointer;
  width: 50%;
}

::ng-deep .anticon svg {
  font-size: 18px;
  margin-right: 4px;
}
::ng-deep .ant-input-affix-wrapper {
  border-radius: 8px;
}
::ng-deep .ant-input-affix-wrapper {
  padding: 4px 8px;
}
::ng-deep .ant-btn {
  height: auto;
  padding: 12px;
  border-radius: 8px;
}
::ng-deep .ant-btn-primary[disabled] {
  background-color: #88C8FF;
}
// spinnner start
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.spinner-container {
  text-align: center;
}
::ng-deep .ant-spin-nested-loading > div > .ant-spin .ant-spin-text {
  left: -30px;
  text-shadow: none;
  color: white;
}
// spinner finish

