.card-content {
    display: flex;
    gap: 12px;
}
.file-info {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 8px;
}
.contend-structure {
    h3 {
        text-align: center;
    }
}
.container-validations {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
::ng-deep .ant-collapse {
    background-color: #FFF1EF;
}
::ng-deep .ant-table-pagination.ant-pagination {
    display: none;
}