<nz-layout class="content-layout">
  <nz-page-header class="site-page-header" nzBackIcon [nzGhost]="false">
    <nz-page-header-title style="display: flex; justify-content: space-between; align-items: center;">
      {{entityName}}
      <button class="button-home" (click)="navigateHome()" *ngIf="entityName != ''">
        <span nz-icon nzType="home" nzTheme="outline"></span>
      </button>
      <!-- <button nz-icon nzType="unordered-list" nzTheme="outline" nzSize="large" class="icon-list"
        style="background-color: transparent; border: none; position: absolute; right: 10px; cursor: pointer;"
        (click)="inicioHidenSideBar()"></button> -->
    </nz-page-header-title>
    <nz-page-header-extra>
      <nz-space style="display: flex; justify-content: center; align-items: center;">
        <button *ngIf="isOnline" nz-button nzType="primary" [nzLoading]="loadingOffline" (click)="syncOffline()">
          Sincronizar
          <b style="margin-left: 5px;">{{ totalSync }}</b>
        </button>
        <button *ngIf="!isOnline" nz-button nzType="dashed" [nzLoading]="loadingOffline" nzDanger>
          <span style="font-weight: bold;">OFFLINE</span>
        </button>
        <button nz-icon *nzSpaceItem nzType="unordered-list" nzTheme="outline" nzSize="large" class="icon-list"
          style="background-color: transparent; border: none; cursor: pointer;" (click)="inicioHidenSideBar()">
        </button>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>
  <div [ngStyle]="{height: '64px'}"></div>
  <div class="site-page-content">
    <router-outlet></router-outlet>
  </div>
</nz-layout>

<!-- <div class="fullscreen-loader" *ngIf="loadingOffline">
  <nz-progress [nzPercent]="progressOffline" nzType="circle"></nz-progress>
</div> -->

<!-- <div class="fullscreen-loader" *ngIf="loadingOffline">
  <nz-progress [nzPercent]="progressOffline" nzType="circle"></nz-progress>
</div>

(nzOnOk)="handleOkMiddle()"-->
<nz-modal [(nzVisible)]="isModalDownloadVisible" nzTitle="Tareas de Sincronización" nzCentered [nzFooter]="null"
  [nzClosable]="false">
  <ng-container *nzModalContent>
    <p class="right-aligned-span">Configuraciones {{ setFixedToNumber(valueCompleteDownload('config_value')) }} <span
        *ngIf="isCompleteConfigValue" nz-icon nzType="check-circle" nzTheme="fill" class="icon-success"></span></p>
    <p class="right-aligned-span">SKU {{ setFixedToNumber(valueCompleteDownload('sku')) }}<span *ngIf="isCompleteSku" nz-icon
        nzType="check-circle" nzTheme="fill" class="icon-success"></span></p>
    <p class="right-aligned-span">POC {{ setFixedToNumber(valueCompleteDownload('poc')) }}<span *ngIf="isCompletePoc" nz-icon
        nzType="check-circle" nzTheme="fill" class="icon-success"></span></p>
    <p class="right-aligned-span">Exhibiciones Contraprestada {{ setFixedToNumber(valueCompleteDownload('exhibicion_contraprestada')) }}<span
        *ngIf="isCompleteExhiContraprestada" nz-icon nzType="check-circle" nzTheme="fill" class="icon-success"></span>
    </p>
    <p class="right-aligned-span">Exhibiciones Adicional Renovación
      {{ setFixedToNumber(valueCompleteDownload('exhibicion_adicional_renovacion')) }}<span *ngIf="isCompleteExhiAdicionalRenovacion"
        nz-icon nzType="check-circle" nzTheme="fill" class="icon-success"></span></p>
    <p class="right-aligned-span">Exhibiciones Competencia Renovación
      {{ setFixedToNumber(valueCompleteDownload('exhibicion_competencia_renovacion')) }}<span *ngIf="isCompleteExhiCompetenciaRenovacion"
        nz-icon nzType="check-circle" nzTheme="fill" class="icon-success"></span></p>
    <nz-progress [nzPercent]="progressOffline" [nzFormat]="formatFunction"></nz-progress>
    <span>Sincronizando...</span>
    <div style="display: flex; justify-content: flex-end;">
      <button nz-button nzType="primary" (click)="handleOkMiddle()" [nzLoading]="progressOffline<100">Finalizar</button>
    </div>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isModalUploadVisible" nzTitle="Tareas de guardar en la base de Datos" nzCentered
  [nzFooter]="null" [nzClosable]="false">
  <ng-container *nzModalContent>
    <p *ngFor="let encuesta of encuestasRegistradasActivas" class="right-aligned-span">
      {{encuesta.descripcion}} <span *ngIf="isCompleteUpload(encuesta.table)" nz-icon nzType="check-circle"
        nzTheme="fill" class="icon-success"></span>
    </p>
    <!-- <p  class="right-aligned-span">Se sincronizarón Configuraciones<span *ngIf="isCompleteConfigValue" nz-icon nzType="check-circle" nzTheme="fill" class="icon-success"></span></p>
    <p  class="right-aligned-span">Se sincronizarón SKUS<span *ngIf="isCompleteSku" nz-icon nzType="check-circle" nzTheme="fill" class="icon-success"></span></p>
    <p  class="right-aligned-span">Se sincronizarón POC<span *ngIf="isCompletePoc" nz-icon nzType="check-circle" nzTheme="fill" class="icon-success"></span></p> -->
    <nz-progress [nzPercent]="progressOffline" [nzFormat]="formatFunction"></nz-progress>
    <span>Sincronizando...</span>
    <div style="display: flex; justify-content: flex-end;">
      <button nz-button nzType="primary" (click)="handleOkMiddle()" [nzLoading]="progressOffline<100">Finalizar</button>
    </div>
  </ng-container>
</nz-modal>

<nz-drawer nzSize="default" [nzVisible]="isCollapsed" nzPlacement="left" [nzTitle]="title" [nzExtra]="extra"
  nzClosable="false" (nzOnClose)="inicioHidenSideBar()">

  <ng-container *nzDrawerContent>
    <button nz-button nzType="dashed" nzBlock (click)="navigate('home'); inicioHidenSideBar()"><span nz-icon
        nzType="home"></span>MÓDULO HOME</button>
    <button nz-button nzType="dashed" nzBlock (click)="navigate('precio'); inicioHidenSideBar()"><span nz-icon
        nzType="dollar"></span>MÓDULO PRECIO</button>
    <button nz-button nzType="dashed" nzBlock (click)="navigate('exhibiciones'); inicioHidenSideBar()">
      <span nz-icon nzType="shop"></span>MÓDULO EXHIBICIONES
    </button>
    <!-- <button nz-button nzType="dashed" nzBlock (click)="navigate('exhibiciones-contraprestada-dashboard'); inicioHidenSideBar()">
      <span nz-icon nzType="dashboard" nzTheme="outline"></span>DASHBOARD EXH. CONTRAPRESTADA
    </button> -->
    <button nz-button nzType="dashed" nzBlock (click)="navigate('frentes'); inicioHidenSideBar()"><span nz-icon
        nzType="profile"></span>MÓDULO FRENTES</button>
    <button nz-button nzType="dashed" nzBlock (click)="navigate('incidencias'); inicioHidenSideBar()"><span nz-icon
        nzType="alert"></span>MÓDULO INCIDENCIAS</button>
    <button nz-button nzType="dashed" nzBlock (click)="navigate('stock'); inicioHidenSideBar()"><span nz-icon
        nzType="database"></span>MÓDULO STOCK</button>
    <button *ngIf="isAdmin()" nz-button nzType="dashed" nzBlock (click)="navigate('sku'); inicioHidenSideBar()"><span
        nz-icon nzType="database"></span>MÓDULO SKU</button>
    <button *ngIf="isAdmin()" nz-button nzType="dashed" nzBlock (click)="navigate('poc'); inicioHidenSideBar()"><span
        nz-icon nzType="database"></span>MÓDULO POC</button>
    <!-- <button *ngIf="isAdmin()" nz-button nzType="dashed" nzBlock
      (click)="navigate('estructura-comercial'); inicioHidenSideBar()"><span nz-icon nzType="database"></span>MÓDULO
      ESTRUCTURA COMERCIAL</button> -->
    <button *ngIf="isAdmin()" nz-button nzType="dashed" nzBlock
      (click)="navigate('usuarios'); inicioHidenSideBar()">
      <span nz-icon nzType="database"></span>MÓDULO USUARIOS
    </button>
    <button *ngIf="isAdmin()" nz-button nzType="dashed" nzBlock
      (click)="navigate('config-value'); inicioHidenSideBar()">
      <span nz-icon nzType="database"></span>MÓDULO VALORES DE CONFIGURACION
    </button>
    <button nz-button nzType="dashed" nzBlock (click)="navigate('precio-dashboard'); inicioHidenSideBar()">
      <span nz-icon nzType="dashboard" nzTheme="outline"></span>DASHBOARD PRECIO
    </button>
    <button nz-button nzType="dashed" nzBlock (click)="navigate('exhibiciones-dashboard'); inicioHidenSideBar()">
      <span nz-icon nzType="dashboard" nzTheme="outline"></span>DASHBOARD ESPACIOS
    </button>
    <button nz-button nzType="dashed" nzBlock (click)="navigate('exhibiciones-competencia-dashboard'); inicioHidenSideBar()">
      <span nz-icon nzType="dashboard" nzTheme="outline"></span>DASHBOARD ESPACIOS COMPETENCIA
    </button>
    <button nz-button nzType="dashed" nzBlock (click)="navigate('frente-dashboard'); inicioHidenSideBar()">
      <span nz-icon nzType="dashboard" nzTheme="outline"></span>DASHBOARD FRENTE
    </button>
    <button nz-button nzType="dashed" nzBlock (click)="navigate('stock-dashboard'); inicioHidenSideBar()">
      <span nz-icon nzType="dashboard" nzTheme="outline"></span>DASHBOARD STOCK
    </button>
    <button *ngIf="isAdmin()" nz-button nzType="dashed" nzBlock (click)="navigate('pocs-relevados'); inicioHidenSideBar()">
      <span nz-icon nzType="dashboard" nzTheme="outline"></span>POCs RELEVADOS
    </button>
    <button *ngIf="isAdmin()" nz-button nzType="dashed" nzBlock (click)="navigate('backup'); inicioHidenSideBar()">
      <span nz-icon nzType="copy" nzTheme="outline"></span>BACKUP
    </button>
    <div></div>
    <button nz-button nzType="dashed" nzBlock (click)="logout()"><span nz-icon nzType="logout"></span>Cerrar
      Sesión</button>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <button nz-button nzType="primary" nzShape="circle" (click)="inicioHidenSideBar()"><span nz-icon
      nzType="close"></span></button>
</ng-template>