<div>
  <nz-card [nzBodyStyle]="{'padding': '0'}" *ngIf="!selectedIncidenciaCompetenciaOk">
    <!-- <div class="card-header">
      <nz-typography>
        Competencias
      </nz-typography>
    </div> -->
    <div class="card-content">
      <div>
        <div><nz-typography>Tipo: </nz-typography></div>
        <div>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccione un tipo" class="custom-nz-select"
            [(ngModel)]="selectedTipo" (ngModelChange)="selectTipo($event)">
            <nz-option *ngFor="let option of dataTipo" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
          </nz-select>
        </div>
      </div>
      <div>
        <div><nz-typography>Marca: </nz-typography></div>
        <div>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccione una marca" class="custom-nz-select"
            [(ngModel)]="selectedMarca" (ngModelChange)="selectMarca($event)">
            <nz-option *ngFor="let option of dataMarca" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
          </nz-select>
        </div>
      </div>
      <div>
        <div><nz-typography>Comentarios: </nz-typography></div>
        <div>         
            <textarea rows="2" nz-input  [(ngModel)]="comentarios"  nzPlaceHolder="Comentarios"></textarea>
        </div>
      </div>
      <div>
        <app-photo-upload 
          [table]="table" 
          [nameContainer]="nameContainer" 
          [maxImages]="5"
          [codeParent]="codeParent"
          [maxWidth]="'calc(100vw - 155px)'"
          (filesChanged)="onFilesChanged($event)">
        </app-photo-upload>
      </div>
    </div>
  </nz-card>

  <nz-card [nzBodyStyle]="{'padding': '0'}" *ngIf="selectedIncidenciaCompetenciaOk">
    <div class="card-header card-header-success-create-competencia">
      <nz-typography>
        LISTO:
      </nz-typography>
    </div>
    <div class="card-content">
      <div class="card-content-description-success-create-competencia">
        <nz-typography>
          Formulario subido correctamente en Competencia.
          Pulse para volver para ir al menu
        </nz-typography>
        <div>
          <ul>
            <li> Se Agregó el Tipo: <strong>{{selectedTipo}}</strong></li>
            <li> Se Agregó la Marca: <strong>{{selectedMarca}}</strong></li>
            <li> <strong>Se Agregó {{uploadFiles.length == 1 ? 'Una Imagen' : (uploadFiles.length + ' Imagenes')}}</strong></li>
          </ul>
        </div>
      </div>
      <div class="button-volver">
        <button nz-button nzType="primary" (click)="volverMenu()">Volver</button>
      </div>
    </div>
  </nz-card>
</div>

<div class="container-footer" *ngIf="!selectedIncidenciaCompetenciaOk">
  <button nz-button nzType="primary" (click)="guardarIncidencia()" [disabled]="!isFormValidFlag">Guardar</button>
</div>

<app-spinner-loading [loading]="loading"></app-spinner-loading>