.container-reports {
    padding: 16px;
    background-color: #29292F;
}
.container-content {
    background-color: #FFFFFF;
    padding: 12px;
    .list-export-collections {
        display: flex;
        gap: 2px;
        flex-wrap: wrap;
    }
}

nz-select {
    width: 260px;
}
::ng-deep .ant-picker-footer .ant-picker-today-btn {
    display: none;
}