<section>
  <div >
    <nz-card [nzBodyStyle]="{'padding': '0'}" *ngIf="!selectedDetallPriceOk">
      <div class="card-header">
        <nz-typography>
          Encuesta -
          <strong nzType="secondary" class="breadcrumb-text">PRECIOS</strong>
        </nz-typography>
      </div>
      <div class="card-content">
        <div *ngIf="!isSelectedPrice">
          <div style="padding-bottom: 8px;"><nz-typography>Gondolas: </nz-typography></div>
          <div style="padding-bottom: 4px;">
            <nz-select nzShowSearch nzAllowClear nzSize="large" nzPlaceHolder="Seleccione Marca" [(ngModel)]="selectedGondola"
              class="custom-nz-select" (ngModelChange)="onGondolaChange($event)">
              <nz-option *ngFor="let marca of dataMarca" [nzLabel]="marca"
                [nzValue]="marca"></nz-option>
            </nz-select>
          </div>
        </div>
        <div *ngIf="isSelectedPrice">
          <div style="padding-bottom: 12px; display: flex; align-items: center; justify-content: space-between;">
            <div style="display: flex; flex-wrap: wrap; gap: 4px;">
              <strong nzType="secondary" class="breadcrumb-text">GONDOLA: </strong>
              <span nz-typography nzType="success" style="font-style: italic;"><strong>{{selectedGondola}}</strong></span>
            </div>
            <div>
              <button nz-button nzSize="large" (click)="changeOptionGondola()" nzShape="round" style="border-radius: 8px; margin-left: 8px;">Cambiar</button>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </nz-card>

    <nz-card [nzBodyStyle]="{'padding': '0'}" *ngIf="selectedDetallPriceOk">
      <div class="card-header">
        <nz-typography>
          PRECIOS
        </nz-typography>
      </div>
      <div class="card-content" >
          <div style="margin-bottom: 8px;">
            <nz-typography>
              Formulario subido correctamente. En la
              marca {{selectedGondola}}
              Pulse volver para ir al menu
            </nz-typography>
            <!-- <div >
              <ul>
                <strong>Se agregaron los siguientes productos:</strong>
                <li *ngFor="let >
                  {{ producto.nombre }} (Categoría: {{ producto.marca }})
                </li>

              </ul>
            </div> -->
          </div>
          <div class="button-volver">
            <button nz-button (click)="volerMenu()">Volver</button>
          </div>
      </div>
    </nz-card>
  </div>
  <div>
  </div>
</section>

<div class="fullscreen-overlay" *ngIf="loading">
  <div class="spinner-container">
    <nz-spin nzTip="Cargando..."></nz-spin>
  </div>
</div>
