.container-reports {
    padding: 16px;
    background-color: #29292F;
}
.container-content {
    background-color: #FFFFFF;
    padding: 12px;
    .content-header {
        display: flex;
        justify-content: flex-end;
        gap: 2px;
        margin-bottom: 4px;
        .button-excel {
            text-align: right;
            .icon-excel {
                color: green;
                font-size: 32px;
                margin-right: -4px;
                cursor: pointer;
            }
        }
    }
}
::ng-deep .ant-avatar {
    cursor: pointer;
}

.modal-buttons { 
    display: flex;
    justify-content: center;
    gap: 2px;
    padding: 8px 0 8px 0;
  }
  .image-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden; /* Esto asegura que la imagen no se salga del contenedor */
    position: relative;
    height: 0;
    // padding-bottom: 100%; /* Mantiene la relación de aspecto cuadrada */
    padding-bottom: 75%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.5s ease;
      transform-origin: center center
    }
}
