// Tarjeta de sucursales
.card-header {
  background-color: #2a2831;
  box-shadow: 0 3px 8px rgba(172, 170, 170, 0.43);
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: none;
  color: #fff;
  padding: 12px 8px 12px 8px;
  border-radius: 2px;

  nz-typography{
    color:#fff;
  }
}

.card-content {
  background-color: #2A2831;
  box-shadow: 0 3px 8px rgba(172, 170, 170, 0.43);
  border: 1px solid #ddd;
  color:#fff;
  padding: 0.5rem;
  border-radius: 2px;

  nz-typography{
    color:#fff;
  }
  .nz-select {
    width: 100%;
    border-radius: 5px;
  }
}

nz-card {
  border: transparent;
}

nz-card{
  border: transparent;
}

.collapse-custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 12px 2px 2px;
  .collapse-header-content {
    display: flex;
    align-items: center;
    img {
      margin-right: 8px;
      margin-left: -12px;
      vertical-align: middle;
      border-style: none;
      // width: 50px;
      object-fit: contain;
    }
  }
}

.container-footer {
  display: flex;
  justify-content: flex-end;
  background-color: #e6f6ff;
  padding: 8px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.button-volver {
  display: flex;
  justify-content: flex-end;
}

// spinnner start
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.spinner-container {
  text-align: center;
}
::ng-deep .ant-spin-nested-loading > div > .ant-spin .ant-spin-text {
  left: -30px;
  text-shadow: none;
  color: white;
}
// spinner finish

::ng-deep .ant-list-item {
  padding: 8px 0;
}
::ng-deep .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding-top: 0;
}
::ng-deep .ant-list-split .ant-list-item {
  border-bottom: 1px solid darkgrey;
}
::ng-deep .ant-collapse-content > .ant-collapse-content-box {
  padding-top: 0;
}

::ng-deep .ant-btn {
  border-radius: 8px;
}

// ::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header {
//   padding: 0;
//   // padding: 12px 16px;
//   display: flex; // Asegura que los elementos internos se puedan alinear con flexbox
//   justify-content: space-between; 
// }

// ::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
//   margin-top: 9px;
//   order: 2;
// }

// ::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header {
//   display: flex;
//   justify-content: space-between; // Asegura que los elementos se alineen a los extremos
//   align-items: center; // Centra los elementos verticalmente
//   width: 100%; // Asegura que el header ocupe todo el ancho disponible
// }

// ::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
//   order: 3; // Asegura que el icono se mueva hacia el extremo derecho
//   margin-left: auto; // Empuja el icono hacia la derecha
// }

::ng-deep .ant-collapse-content > .ant-collapse-content-box {
  padding-top: 0;
}

::ng-deep .ant-btn {
  border-radius: 8px;
}

::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  display: flex;
  justify-content: flex-start; // Cambiado a flex-start para asegurar que los elementos se alineen a la izquierda
  align-items: center; // Mantiene los elementos centrados verticalmente
  width: 100%; // Asegura que el header ocupe todo el ancho disponible
  padding: 5px;
}


::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg[data-icon="right"] {
  display: none;
}

