<nz-content class="page-content">
  <div class="container-select-sucursal">
    <nz-card [nzBodyStyle]="{'padding': '0'}">
      <div class="card-header">
        <nz-typography>
          Empresa -
          <strong nzType="secondary" class="breadcrumb-text">PERNOD</strong>
        </nz-typography>
      </div>
      <div class="card-content">
        <div class="content-store">
          <div class="content-name-store">
            <nz-typography>Tienda: </nz-typography>
            <span nz-typography nzType="success"><strong>{{selectedSucursal}}</strong></span>
          </div>
          <div *ngIf="isSelectedSucursal && isShowChange">
            <button nz-button nzSize="large" (click)="cancelarSucursal()">Cambiar</button>
          </div>
        </div>
        @if(!isOffline){
          <div *ngIf="!isSelectedSucursal">
            <!-- <nz-select nzShowSearch nzAllowClear nzSize="large" nzPlaceHolder="Seleccione Sucursal" [(ngModel)]="selectedSucursal"
              class="custom-nz-select" (ngModelChange)="selectItem($event)">
              <nz-option *ngFor="let sucursal of dataSucursales" [nzLabel]="sucursal" [nzValue]="sucursal"></nz-option>
            </nz-select> -->
            <nz-select nzShowSearch nzAllowClear
                nzSize="large"
                class="custom-nz-select"
                [(ngModel)]="selectedSucursal"
                (nzScrollToBottom)="loadData(true)"
                (nzOnSearch)="onSearch($event)" 
                (ngModelChange)="selectItem($event)"
                nzPlaceHolder="Seleccionar Tienda"
                [nzDropdownRender]="renderTemplate"
              >
              <nz-option *ngFor="let sucursal of optionList" [nzValue]="sucursal" [nzLabel]="sucursal"></nz-option>
            </nz-select>
          </div> 
          <ng-template #renderTemplate>
            <nz-spin *ngIf="spiner"></nz-spin>
          </ng-template>
        }@else {
          <div *ngIf="!isSelectedSucursal">
            <nz-select 
              nzShowSearch nzAllowClear 
              nzSize="large" 
              nzPlaceHolder="Seleccione Sucursal-offline" 
              [(ngModel)]="selectedSucursal"
              class="custom-nz-select" 
              (ngModelChange)="selectItem($event)">
              <nz-option *ngFor="let sucursal of dataSucursales" [nzLabel]="sucursal" [nzValue]="sucursal"></nz-option>
            </nz-select>
          </div> 
        }
      </div>
    </nz-card>
  </div>
  <router-outlet></router-outlet>
</nz-content>

<div class="fullscreen-overlay" *ngIf="loading">
  <div class="spinner-container">
    <nz-spin nzTip="Cargando..."></nz-spin>
  </div>
</div>
<app-spinner-loading [loading]="loading"></app-spinner-loading>