<div style="margin-bottom: 16px;">
  <nz-card [nzBodyStyle]="{'padding': '0'}">
    <div class="card-header">
      <nz-typography>
        Encuesta - <strong nzType="secondary" class="breadcrumb-text">INCIDENCIAS</strong>
      </nz-typography>
    </div>
    <div class="card-content">
      <div class="card-list-item">
        <button nz-button nzType="primary" nzGhost [nzSize]="size" nzBlock class="custom-button"
          [class.selected]="selectedOption === 'competencia'" (click)="selectOptionAndNavigate('competencia')">
          Competencia
        </button>
        <button nz-button nzType="primary" nzGhost [nzSize]="size" nzBlock class="custom-button"
          [class.selected]="selectedOption === 'muebles'" (click)="selectOptionAndNavigate('muebles')">
          Muebles
        </button>
      </div>
    </div>
  </nz-card>
</div>
<router-outlet></router-outlet>
